* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

html,
body {
  height: 100%;
  font-family: "Playfair Display", serif;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.index-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1130px;
  padding: 0 15px;
  margin: 0 auto;
}

.main {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__epigraph {
  position: absolute;
  top: 40px;
  right: 120px;
  cursor: pointer;
}

.main__epigraph p {
  font-size: 44px;
  font-style: italic;
  line-height: 112%;
  text-align: right;
  color: #878787;
}

.main__epigraph span {
  position: absolute;
  bottom: -80px;
  left: 50%;
  background-color: #fff;
  width: 300px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 22px;
  font-family: "PT Serif";
  letter-spacing: 1px;
  border: 1px solid #e7e6e7;
  border-radius: 20px;
  -webkit-box-shadow: 1px 1px 22px #ccc;
          box-shadow: 1px 1px 22px #ccc;
  color: #383838;
  background-color: rgba(249, 248, 249, 0.5);
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  opacity: 0;
  visibility: hidden;
}

.main__epigraph.epigraph_tooltip span {
  opacity: 1;
  visibility: visible;
}

.main__button {
  position: absolute;
  bottom: 20%;
  margin: 0 auto;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
}

.main__social {
  position: absolute;
  margin: 0 auto;
  bottom: 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 570px;
  height: 30px;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__bg {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  background: url("../img/background-main.jpg") center/cover no-repeat;
  width: 100%;
  height: 100%;
}

.button {
  width: 405px;
  height: 120px;
  border: 2px solid #383838;
  border-radius: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 0 0 0;
  font-size: 60px;
  color: #383838;
  line-height: 120%;
  font-style: italic;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.button:hover {
  color: #a7a7a7;
  background-color: #383838;
  -webkit-box-shadow: 6px 6px 60px rgba(36, 36, 36, 0.8);
          box-shadow: 6px 6px 60px rgba(36, 36, 36, 0.8);
}

.social__item {
  width: 60px;
  margin: 0 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social__item img {
  width: 100%;
  -webkit-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.social__item:hover img {
  width: 200%;
  height: 200%;
}

.header {
  position: fixed;
  width: 100%;
  height: 75px;
  top: 0;
  left: 0;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.header:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #dae3e2;
  z-index: 4;
  -webkit-box-shadow: 3px 1px 5px rgba(10, 10, 10, 0.8);
          box-shadow: 3px 1px 5px rgba(10, 10, 10, 0.8);
}

.header__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 75px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 0 70px;
}

.header__logo {
  position: relative;
  z-index: 5;
}

.header__logo img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid #878787;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 6;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.header__menu-item {
  font-size: 34px;
  font-style: italic;
  margin: 0 80px;
}

.header__menu-item a {
  color: #878787;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__menu-item_current a:after {
  content: '';
  display: block;
  width: auto;
  height: 1px;
  background-color: #878787;
}

.burger {
  display: none;
}

.burger__body {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 5;
}

.burger__body span {
  display: none;
  width: 100%;
  height: 2px;
  background-color: #a7a7a7;
  margin: 8px 0;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.burger__body span:nth-child(1) {
  position: absolute;
  top: 0;
}

.burger__body span:nth-child(2) {
  position: absolute;
  top: 11px;
}

.burger__body span:nth-child(3) {
  position: absolute;
  bottom: 0;
}

.burger__body:before {
  position: absolute;
  width: 100%;
  background-color: #a7a7a7;
}

.readarea {
  padding: 120px 0 0 0;
  background-color: #fff;
  margin: 0 0 70px 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.readarea__container {
  max-width: 960px;
  padding: 0 15px;
  margin: 0 auto;
}

.readarea__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.readarea__table-of-contents {
  position: fixed;
}

.readarea__poems {
  max-width: 100%;
}

.readarea__prose {
  min-width: 70%;
  max-width: 100%;
}

.table-of-contents {
  width: auto;
}

.table-of-contents__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.table-of-contents__item {
  display: inline;
  color: #c7c7c7;
  font-size: 32px;
  margin: 10px 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.table-of-contents__item_current {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #676767;
}

.table-of-contents__item:hover {
  color: #373737;
}

.table-of-contents span {
  position: absolute;
  top: 0;
  left: 15px;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
}

.poem {
  padding: 0 0 0 40%;
}

.poem__year {
  text-align: center;
  margin: 0 0 30px 0;
}

.poem__year span {
  font-size: 22px;
  font-style: italic;
  text-align: center;
}

.poem__year:before {
  display: block;
  content: "";
  margin-top: -100px;
  height: 100px;
  visibility: hidden;
  pointer-events: none;
}

.poem__spacer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 0 70px 0;
}

.poem__spacer span {
  width: 110px;
  height: 2px;
  background-color: #676767;
}

.poem__item {
  padding: 0 0 60px 0;
  font-size: 20px;
  font-family: 'PT Sans', sans-serif;
  line-height: 30px;
}

.poem__title {
  font-size: 24px;
  font-weight: 700;
  margin: 0 0 25px 0;
}

.poem__body p {
  white-space: pre-line;
}

.prose {
  padding: 0 0 0 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.prose__item {
  padding: 0 0 60px 0;
  font-size: 22px;
  font-family: "PT Sans", sans-serif;
  line-height: 30px;
  text-align: justify;
}

.prose__year {
  text-align: center;
  margin: 0 0 35px 0;
}

.prose__year span {
  font-size: 22px;
  font-style: italic;
  text-align: center;
}

.prose__list {
  margin: 0 0 40px 0;
  font-family: 'PT Sans', sans-serif;
}

.prose__list li {
  margin: 15px 0;
}

.prose__link {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #878787;
  font-size: 26px;
  margin: 10px 0;
}

.prose__link:hover {
  color: #373737;
}

.prose__title {
  font-size: 24px;
  font-weight: 700;
  margin: 0 0 10px 0;
  text-align: center;
}

.prose__subtitle {
  font-size: 18px;
  font-style: italic;
  margin: 0 0 25px 0;
  text-align: center;
}

.prose__body p {
  white-space: pre-line;
}

.footer {
  background-color: #878787;
  width: 100%;
  height: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.footer .footer__container {
  width: 1130px;
  margin: 0 auto;
  padding: 0 15px;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__copy {
  font-family: "PT Sans";
  font-size: 20px;
}

.footer__copy-date {
  color: #bbb;
}

.footer__copy-me {
  color: #fff;
  font-weight: 700;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__social-item {
  margin: 0 15px;
}

.footer__social-item a img {
  width: 40px;
  -webkit-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

.footer__social-item a img:hover {
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3);
}

.footer__social-item:nth-child(1) a img {
  padding: 5px 0 0 0;
}

@media (min-width: 767px) {
  .header__menu-item:hover a {
    color: #373737;
  }

  .header__menu-item:hover a:after {
    background-color: #373737;
  }
}

@media (max-width: 1199px) {
  .main__epigraph {
    right: 80px;
  }

  .readarea__container {
    max-width: 860px;
  }

  .poem {
    padding: 0 0 0 0;
    margin: 0 auto;
  }

  .prose {
    padding: 0 0 0 20%;
    margin: 0 auto;
  }

  .footer .footer__container {
    width: 760px;
    padding: 0 20px;
  }

  .footer__social-item {
    margin: 10px;
  }

  .footer__social-item a img {
    width: 40px;
  }

  .footer__social-item a img:hover {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
}

@media (max-width: 1023px) {
  .main__epigraph p {
    font-size: 44px;
  }
}

@media (max-width: 991px) {
  .readarea__container {
    max-width: 780px;
  }

  .table-of-contents__item:hover {
    color: #fff;
  }
}

@media (max-width: 921px) {
  .header {
    height: 60px;
  }

  .header__body {
    height: 60px;
    padding: 0 40px;
  }

  .header__logo img {
    width: 40px;
    height: 40px;
  }

  .header__menu-item {
    font-size: 46px;
    margin: 30px 0;
  }

  .header__menu-item a {
    color: #fff;
  }

  .header__menu-item_current a:after {
    background-color: #fff;
  }

  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #878787;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 2;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }

  .header__menu.active {
    top: 0;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }

  .burger {
    display: block;
    cursor: pointer;
  }

  .burger__body {
    display: block;
  }

  .burger__body span {
    display: block;
  }

  .burger__body.active span:nth-child(1) {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 11px;
  }

  .burger__body.active span:nth-child(2) {
    width: 0;
  }

  .burger__body.active span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 11px;
  }

  .table-of-contents__body {
    display: none;
  }

  .prose {
    padding: 0;
    margin: 0 auto;
  }
}

@media (max-width: 767px) {
  .main__epigraph {
    display: none;
  }

  .button {
    color: #a7a7a7;
    background-color: #383838;
    -webkit-box-shadow: 6px 6px 60px rgba(36, 36, 36, 0.8);
            box-shadow: 6px 6px 60px rgba(36, 36, 36, 0.8);
    width: 300px;
    height: 100px;
    font-size: 40px;
    padding: 16px;
  }

  .social__item {
    margin: 0 20px;
    width: 30px;
  }

  .social__item:hover img {
    width: 100%;
    height: 100%;
  }

  .prose__item {
    padding: 0 0 60px 0;
  }

  .prose__year span {
    font-size: 18px;
  }

  .prose__link:hover {
    color: #878787;
  }

  .prose__link {
    font-size: 22px;
  }

  .footer {
    height: 240px;
  }

  .footer__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__section {
    margin: 0 0 25px 0;
  }

  .footer__section:last-child() {
    margin: 0;
  }
}

@media (max-width: 652px) {
  .poem__item {
    font-size: 18px;
    line-height: 26px;
  }

  .prose__item {
    font-size: 18px;
    line-height: 26px;
  }
}

@media (max-width: 452px) {
  .header__body {
    padding: 10px;
  }

  .poem__item {
    font-size: 16px;
    line-height: 22px;
  }

  .prose__item {
    font-size: 16px;
    line-height: 22px;
  }
}

@media (max-height: 440px) {
  .main__button {
    margin: 0 auto 30px auto;
  }
}